@model TwonCinema.Areas.Admin.Models.Cinema

@{
    ViewData["Title"] = "Danh Sách Rạp";
}
<style>
    .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #4dd0e1;
        box-shadow: 0 1px 0 0 #4dd0e1;
    }

    .active-cyan input.form-control[type=text] {
        border-bottom: 1px solid #4dd0e1;
        box-shadow: 0 1px 0 0 #4dd0e1;
    }

    .active-cyan .fa, .active-cyan-2 .fa {
        color: #4dd0e1;
    }
</style>
<center>
    <h1>Danh Sách Rạp</h1>
</center>
<p>
    <a data-toggle="modal" data-target="#myCreate" class="btn btn-success text-white btn-block">Thêm Mới</a>
</p>
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" id="myInput" placeholder="Search"
           aria-label="Search">
</form>
<form  asp-action="Index" method="GET" id="myform" class="form-inline d-flex justify-content-end md-form form-sm active-cyan active-cyan-2 mt-2">
    <select name="status" onchange="$('#myform').submit();" class="form-control">
        <option value="1">Lọc</option>
        <option value="1">Còn sử dụng</option>
        <option value="0">Ngưng sử dụng</option>
    </select>
</form>
<br/>
<table class="table" style="text-align:center">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Lịch Chiếu
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in ViewBag.ListCinema)
        {
            <tr id="@item.ID">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    <form asp-area="Admin" asp-controller="Movie_Show" asp-action="Index" method="get">
                        <input type="hidden" name="idCinema" value="@item.ID" />
                        <button type="submit" class="btn btn-link"><i class="fa fa-eye"></i></button>
                    </form>
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <button data-id="@item.ID" name="btnStatus" class="btn btn-link"><i class="fa fa-unlock-alt"></i></button>
                    }
                    else if (item.Status == 0)
                    {
                        <button data-id="@item.ID" name="btnStatus" class="btn btn-link"><i class="fa fa-lock"></i></button>
                    }
                </td>
                <td>
                    <a data-toggle="modal" data-target="#myEdit" data-id="@item.ID" data-name="@item.Name" data-address="@item.Address" data-hotline="@item.Hotline" data-status="@item.Status" data-manager_id="@item.Manager_ID" class="edit"><label class="fa fa-edit"></label> Sửa</a> |
                    <a data-toggle="modal" data-target="#myDetail" data-id="@item.ID" data-name="@item.Name" data-address="@item.Address" data-hotline="@item.Hotline" data-status="@item.Status" data-manager="@item.Staf.Name" class="detail"><label class="fa fa-edit"></label> Chi Tiết</a> 
                   
                </td>
            </tr>
        }
    </tbody>
</table>
@*Thêm*@
<div class="container">
    <div class="modal fade" id="myCreate" role="dialog">
        <form asp-action="Create">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="title">Thêm Rạp</h4>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Tên:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Địa Chỉ:</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đường Dây Nóng:</label>
                            <input asp-for="Hotline" class="form-control" />
                            <span asp-validation-for="Hotline" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nhân Viên Quản Lí:</label>
                            <select asp-for="Manager_ID" class="form-control" asp-items="ViewBag.Manager_ID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng Thái:</label>
                            <select asp-for="Status" class="form-control">
                                <option value="1">Kích Hoạt</option>
                                <option value="0">Không Kích Hoạt</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Thêm" class="btn btn-outline-success text-success " />
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*Sửa*@
<div class="container">
    <div class="modal fade" id="myEdit" role="dialog">
        <form asp-action="Edit" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="title">Sửa Rạp</h4>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" id="inID" asp-for="ID" />
                        <div class="form-group">
                            <label class="control-label">Tên:</label>
                            <input asp-for="Name" id="inTen" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Địa Chỉ:</label>
                            <input asp-for="Address" id="inDiaChi" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Đường Dây Nóng:</label>
                            <input asp-for="Hotline" id="inSDT" class="form-control" />
                            <span asp-validation-for="Hotline" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nhân Viên Quản Lí:</label>
                            <select asp-for="Manager_ID" id="inIdQuanLi" class="form-control" asp-items="ViewBag.Manager_ID"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trạng Thái:</label>
                            <select asp-for="Status" id="inTrangThai" class="form-control">
                                <option value="1">Kích Hoạt</option>
                                <option value="0">Không Kích Hoạt</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Sửa" class="btn btn-outline-success text-success " />
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*ChiTiet*@
<div class="container">
    <div class="modal fade" id="myDetail" role="dialog">
       
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="title">Chi Tiết Rạp</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="row">
                            <dt class="col-sm-5">
                                Tên:
                            </dt>
                            <dd class="col-sm-7" id="lbTen">
                              
                            </dd>
                            <dt class="col-sm-5">
                                Địa Chỉ:
                            </dt>
                            <dd class="col-sm-7"id="lbDiaChi">
                               
                            </dd>
                            <dt class="col-sm-5">
                                Đường Dây Nóng:
                            </dt>
                            <dd class="col-sm-7"id="lbSDT">
                               
                            </dd>
                            <dt class="col-sm-5">
                                Nhân Viên Quản Lí:
                            </dt>
                            <dd class="col-sm-7"id="lbQuanLi">
                           
                            </dd>
                            <dt class="col-sm-5">
                                Trạng Thái:
                            </dt>
                            <dd class="col-sm-7"id="lbTrangThai">
                              
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <input type="button" data-dismiss="modal" value="Xóa" class="btn btn-outline-danger delete" />
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $('button[name =btnStatus]').click(function () {
            var id = $(this).data('id');
            var btn = $(this);
            $.ajax({
                method: "GET",
                url: "../API/CinemasAPI/ChangeStatus",
                data: { 'id': id }
            })
                .done(function (msg) {
                    var obj = JSON.parse(msg);
                    document.getElementById('' + obj.ID).remove(this);
                });
        });
    </script>
    <script>
        $(document).on("click", ".edit", function () {
            document.getElementById('inID').value = $(this).data('id');
            document.getElementById('inTen').value = $(this).data('name');
            document.getElementById('inDiaChi').value = $(this).data('address');
            document.getElementById('inSDT').value = $(this).data('hotline');
            document.getElementById('inTrangThai').value = $(this).data('status');
            document.getElementById('inIdQuanLi').value = $(this).data('manager_id');
        });
    </script>
    <script>
        $(document).on("click", ".detail", function () {
            var id = $(this).data('id');
            document.getElementById('lbTen').innerText = $(this).data('name');
            document.getElementById('lbDiaChi').innerText = $(this).data('address');
            document.getElementById('lbSDT').innerText = $(this).data('hotline');
            var status = $(this).data('status');
            if (status == 0) {
                document.getElementById('lbTrangThai').innerText = "Không kích hoạt";
            }
            else {
                document.getElementById('lbTrangThai').innerText = "Kích hoạt";
            }
           
            document.getElementById('lbQuanLi').innerText = $(this).data('manager');


            $(document).on("click", ".delete", function () {
                $.ajax({
                    method: "GET",
                    url: "../API/CinemasAPI/ChangeStatus",
                    data: { 'id': id }
                })
                    .done(function (msg) {
                        var obj = JSON.parse(msg);
                        document.getElementById('' + obj.ID).remove();
                    });
            });
        });
    </script>
}