@model TwonCinema.Areas.Admin.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<center>
    <h1>Chi Tiết Trang Thiết Bị</h1>
</center>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            ID Hàng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Row_ID)
        </dd>
        <dt class="col-sm-2">
            ID Cột
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Col_ID)
        </dd>

        <dt class="col-sm-2">
            Phòng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            Loại Trang Thiết Bị:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category_Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-warning text-warning btn-block">Sửa</a> <br />
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-outline-danger text-warning btn-block">Xóa</a> <br />
    <a asp-action="Index" asp-route-id="@Model.Room_ID" class="btn btn-outline-success text-success btn-block">Trở Về</a>
</div>
