@model TwonCinema.Areas.Admin.Models.Room

@{
    ViewData["Title"] = "Xóa Phòng";
}

<center>
    <h1>Xóa Phòng</h1>
</center>
<h3>Bạn có chắc muốn xóa phòng này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Sức Chứa:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            Chiều Dài:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)m
        </dd>
        <dt class="col-sm-2">
            Chiều Rộng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Width)m
        </dd>
        <dt class="col-sm-2">
            Rạp:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Name)
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-outline-danger text-danger btn-block" /> <br />
        <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
    </form>
</div>