@section CSS {
    <style>
        .w3l-main-slider .banner-view {
            background: url(Uploads/Movie/@ViewBag.Top4[0].Image_1 ) no-repeat center;
            background-size: cover;
            min-height: 500px;
            position: relative;
            z-index: 0;
            display: grid;
            align-items: center;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -o-border-radius: 6px;
            -ms-border-radius: 6px;
            -moz-border-radius: 6px;
        }

    .w3l-main-slider .banner-top1 {
        background: url(Uploads/Movie/@ViewBag.Top4[1].Image_1) no-repeat center;
        background-size: cover;
    }

        .w3l-main-slider .banner-top2 {
            background: url(Uploads/Movie/@ViewBag.Top4[2].Image_1 ) no-repeat center;
            background-size: cover;
        }

        .w3l-main-slider .banner-top3 {
            background: url(Uploads/Movie/@ViewBag.Top4[3].Image_1 ) no-repeat center;
            background-size: cover;
        }
    </style>
}
@{
    var today = DateTime.Now;
}

<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">

                        <div class="banner-info">
                            <a href="/Movies/Movie/@ViewBag.Top4[0].Slug">
                                <h3>@ViewBag.Top4[0].Name</h3>
                                <p>
                                    @Html.Raw(ViewBag.Top4[0].Desc)
                                </p>
                                <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                            </a>

                            <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                @Html.Raw(ViewBag.Top4[0].Trailer)
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <a asp-controller="Movies" asp-action="Movie" asp-route-slug="@ViewBag.Top4[1].Slug">
                                <h3>@ViewBag.Top4[1].Name</h3>
                                <p>
                                    @Html.Raw(ViewBag.Top4[1].Desc)
                                </p>
                                <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                            </a>

                            <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                @Html.Raw(ViewBag.Top4[1].Trailer)
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <a asp-controller="Movies" asp-action="Movie" asp-route-slug="@ViewBag.Top4[2].Slug">
                                <h3>@ViewBag.Top4[2].Name</h3>
                                <p>
                                    @Html.Raw(ViewBag.Top4[2].Desc)
                                </p>
                                <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                            </a>

                            <div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
                                @Html.Raw(ViewBag.Top4[2].Trailer)
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <a asp-controller="Movies" asp-action="Movie" asp-route-id="@ViewBag.Top4[3].ID">
                                <h3>@ViewBag.Top4[3].Name</h3>
                                <p>
                                    @Html.Raw(ViewBag.Top4[3].Desc)
                                </p>
                                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                            </a>
                            <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                                @Html.Raw(ViewBag.Top4[3].Trailer)
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>

<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Phim Đang Chiếu</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" asp-controller="Movies" asp-action="NowShowing">Hiện tất cả</a></h4>
                    </div>
                </div>
            </div>
            <div class="owl-three owl-carousel owl-theme">
                @foreach (var movie in ViewBag.listMovie)
                {
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a asp-controller="Movies" asp-action="Movie" asp-route-slug="@movie.Slug">
                                <figure>
                                    <img class="img-fluid" src="~/Uploads/Movie/@movie.Image_2" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> @movie.Running_Time p

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                            </a>
                        </div>
                        <h3> <a class="title-gd" asp-controller="Movies" asp-action="Movie" asp-route-slug="@movie.Slug">@movie.Name</a></h3>
                        <div class="button-center text-center mt-4">
                            <a href="#" data-toggle="modal" data-target="#myModal" data-id_movie="@movie.ID" data-moviename="@movie.Name" data-today="@today" class="datve btn watch-button">Đặt vé ngay</a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Phim Sắp Chiếu</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" asp-controller="Movies" asp-action="ComingSoon">Hiện tất cả</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                @foreach (var movie in ViewBag.Top4)
                {
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-controller="Movies" asp-action="Movie" asp-route-slug="@movie.Slug">
                                <figure>
                                    <img class="img-fluid" src="~/Uploads/Movie/@movie.Image_2" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">@movie.Name</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> @movie.Running_Time p
                                        </span>
                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-2"><button id="current" data-day="@today" class="selectDay btn-gray">@today.ToString("dd/MM")</button></div>
                    <div class="col-2"><button data-day="@today.AddDays(1)" class="selectDay btn-outline-gray">@today.AddDays(1).ToString("dd/MM")</button></div>
                    <div class="col-2"><button data-day="@today.AddDays(2)" class="selectDay btn-outline-gray">@today.AddDays(2).ToString("dd/MM")</button></div>
                    <div class="col-2"><button data-day="@today.AddDays(3)" class="selectDay btn-outline-gray">@today.AddDays(3).ToString("dd/MM")</button></div>
                    <div class="col-2"><button data-day="@today.AddDays(4)" class="selectDay btn-outline-gray">@today.AddDays(4).ToString("dd/MM")</button></div>
                    <div class="col-2"><button data-day="@today.AddDays(5)" class="selectDay btn-outline-gray">@today.AddDays(5).ToString("dd/MM")</button></div>
                </div>
              
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" style="min-height: 500px;">
                <b style="color:#df0e62;display:inline;">Phim: </b><p id="moviename" style="color:#df0e62;display:inline;"></p>
                <div class="modal-body" id="listrap" style="height: 500px;overflow-y:scroll;">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var idMovie;
        var day;

        $(document).on("click", ".datve", function () {
            $('.selectDay').each(function () {
                $(this).removeClass('btn-gray');
                $(this).addClass('btn-outline-gray');
            });
            $('#current').addClass('btn-gray');
            $('#current').removeClass('btn-outline-gray');
            document.getElementById('moviename').innerText = $(this).data('moviename');

            idMovie = $(this).data('id_movie');
            day = $(this).data('today');
            listRap(idMovie, day);
        });

        $(document).on("click", ".selectDay", function () {
            $('.selectDay').each(function () {
                $(this).removeClass('btn-gray');
                $(this).addClass('btn-outline-gray');
            });
            $(this).addClass('btn-gray');
            $(this).removeClass('btn-outline-gray');

            day = $(this).data('day');

            listRap(idMovie, day);
        });

        function listRap(idMovie, day) {
            document.getElementById('listrap').innerHTML = '';
            $.ajax({
                type: "GET",
                url: "../../API/Movie_ShowAPI/ListCinemaHaveShowByMovieAndDay",
                data: {
                    idMovie: idMovie,
                    day: day
                }
            }).done(function (listID) {
                var listidrap = JSON.parse(listID);
                var listRapHTML = [];
                listidrap.map((id) => {
                    var elementcinema;
                    $.ajax({
                        type: "GET",
                        url: "../../API/Movie_ShowAPI/ListShowInCinemaByMovieAndDay",
                        data: {
                            idCinema: id,
                            idMovie: idMovie,
                            day: day
                        }
                    }).done(function (listShowRes) {
                        var listshow = JSON.parse(listShowRes);

                        var listShowHTML = listshow.map((movie_show) => {
                            return `<li class="time">
                                                <a href="../../booking/selectseat?idShow=${movie_show.id}" class="button">${movie_show.h_start}:${movie_show.m_start}</a>
                                            </li>`;
                        });

                        $.ajax({
                            type: "GET",
                            url: "../../API/CinemasAPI/GetByID",
                            data: {
                                id: id,
                            }
                        }).done(function (cinemaRes) {
                            var cinema = JSON.parse(cinemaRes);
                            elementcinema = `<div class="rap">
                                                <b>${cinema.Name}</b>
                                                <ul class="listTime">
                                                    ${listShowHTML.join('')}
                                                </ul>
                                            </div>`;
                            listRapHTML.push(elementcinema);
                            document.getElementById('listrap').innerHTML = listRapHTML.join('');
                        });
                    });
                });
            });
        }
    </script>
}