@model TwonCinema.Areas.Admin.Models.Staf

@{
    ViewData["Title"] = "Chi Tiết Nhân Viên";
}
@{
    Random random = new Random();
    int rand = random.Next(1000);
}

<center>
    <h1>Chi Tiết Nhân Viên</h1>
</center>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Avatar:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Staf/@Model.Avatar?@rand" style="width:200px;" />
        </dd>
        <dt class="col-sm-2">
            Số Điện Thoại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Địa Chỉ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-warning text-warning btn-block">Sửa</a> <br />
    <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
</div>
