@model TwonCinema.Areas.Admin.Models.Movie

@{
    ViewData["Title"] = "Xóa Phim";
}
@{
    Random random = new Random();
    int rand = random.Next(1000);
}

<center>
    <h1>Xóa Phim</h1>
</center>
<h3>Bạn có chắc muốn xóa phim này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Movie/@Model.Image_1?@rand" style="width:300px;" />
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh 2:
        </dt>
        <dd class="col-sm-10">
            <img src="~/Uploads/Movie/@Model.Image_2?@rand" style="width:300px;" />
        </dd>
        <dt class="col-sm-2">
            Trailer:
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Trailer)
        </dd>
        <dt class="col-sm-2">
            Đạo Diễn:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Directors)
        </dd>
        <dt class="col-sm-2">
            Diễn Viên:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast)
        </dd>
        <dt class="col-sm-2">
            Thể Loại:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            Ngày Khởi Chiếu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Release_Date)
        </dd>
        <dt class="col-sm-2">
            Thời Lượng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Running_Time)p
        </dd>
        <dt class="col-sm-2">
            Ngôn Ngữ:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            Đối Tượng Xem:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rated)
        </dd>
        <dt class="col-sm-2">
            Mô Tả:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            Trạng Thái:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Xóa" class="btn btn-outline-danger text-danger btn-block" /> <br />
        <a asp-action="Index" class="btn btn-outline-success text-success btn-block">Trở Về</a>
    </form>
</div>
