@model IEnumerable<TwonCinema.Areas.Admin.Models.Movie>

@{
    ViewData["Title"] = "Danh Sách Phim";
}

<center>
    <h1>Danh Sách Phim</h1>
</center>
<p>
    <a asp-action="Create" class="btn btn-success text-white btn-block">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Ngày Khởi Chiếu
            </th>
            <th>
                Ngôn Ngữ
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @if (item.Status == 1)
                {
                    <a asp-action="UnActive" asp-route-id="@item.ID"><label class="fa fa-unlock-alt"></label></a>
                }
                else if (item.Status == 0)
                {
                    <a asp-action="Active" asp-route-id="@item.ID"><label class="fa fa-lock"></label></a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><label class="fa fa-edit"></label> Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ID"><label class="fa fa-info-circle"></label> Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><label class="fa fa-trash"></label> Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
