@model TwonCinema.Areas.Admin.Models.Movie_Show

@{
    ViewData["Title"] = "Chi Tiết Lịch Chiếu";
}
<center>
    <h1>Chi Tiết Lịch Chiếu</h1>
</center>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Thời Gian Bắt Đầu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_Show)
        </dd>
        <dt class="col-sm-2">
            Phòng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            Phim:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dd class="col-sm-10">
            Trạng Thái:
        </dd>
        <dd class="col-sm-10">
            @if (Model.Status == 1)
            {
                <p>Kích Hoạt</p>
            }
            else
            {
                <p>Không Kích Hoạt</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-warning text-warning btn-block">Sửa</a> <br />
    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-outline-warning text-danger btn-block">Xóa</a> <br />
    <form asp-area="Admin" asp-controller="Movie_Show" asp-action="Index" method="get">
        <input type="hidden" name="idCinema" value="@Model.Room.Cinema_ID" />
        <input type="hidden" name="date" value="@Model.Start_Show" />
        <button type="submit" class="btn btn-outline-secondary text-secondary btn-block">Trở Về</button>
    </form>
</div>
